LABOS_MQTT_HOST=hari.local
LABOS_MQTT_PORT=1883
LABOS_CAMERA_NAME=back_camera
LABOS_CAMERA_SOURCE=/dev/video0
LABOS_HEF_PATH=/home/pi/labos_hailo/models/backcam_yolov8s_improved_v1_hailo8.hef
LABOS_CONF=0.35
LABOS_IOU=0.50
LABOS_COUNT_SMOOTHING=median

